<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A Chris to the T Site</p>
      </div>
      <ul>
        <li><a ref="/"></a>Blogs</li>
        <li><a ref="/about"></a>About</li>
        <li><a ref="/blog/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="not-found content">
      <h2>OOPS, page not found \../</h2>
    </div>
  </body>
</html>
