<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A Chris to the T Site</p>
      </div>
      <ul>
        <li><a ref="/"></a>Blogs</li>
        <li><a ref="/about"></a>About</li>
        <li><a ref="/blog/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error odit vel
        cupiditate nihil quidem iure est ab enim quisquam illum aut blanditiis
        non, nam voluptatibus veritatis? In quae facilis itaque?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ad,
        tenetur, libero et incidunt suscipit non nam facere, reiciendis
        repudiandae quisquam eaque adipisci. Nulla veniam omnis asperiores vel.
        Quae, ex.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam
        quae necessitatibus esse! Distinctio earum blanditiis culpa quo nam
        obcaecati quidem quibusdam facere delectus, molestias harum esse rem
        illum similique.
      </p>
    </div>
  </body>
</html>
